.custom-home-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  background-color: #083B32; /* bleu Material Design */
  color: #aaaaaa;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-home-button:hover {
  background-color: #087e68;
  transform: translateY(-2px);
  text-decoration: none;
}

.custom-home-button svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.md-nav {
  display: none !important;
}